@import './vars.css';
.informacion{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.informacion h1{
    font-size: 3em;
    text-transform: uppercase;
}

.informacion__tabla{
    width: 100%;
    height: 60vh;
    overflow: scroll;
    /* background-color: red; */
}
.informacion__tabla-contenido{
    width: 100%;
    height: 100%;
}
.informacion__tabla h2{
    padding-top: 1em;
    text-align: center;
} 
.data {
    width: 100%;
    height: auto;
    border-collapse: collapse;
}
.data th, .data td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  .data th {
    text-align: center;
    padding: 1em;
    background-color: #f2f2f2;
}

.graficas{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.graficas h1{
    padding-top: .5em;
    font-size: 2em;
}
.graficas__ver{
    margin: 0 auto;
    margin: .5em;
}
.graficas__ver button{
    margin-top: 1em;
    padding: .5em 1em;
    border: none;
    color: #fff;
    border-radius: 20px;
    background-color: var(--principal-color);
}
.graficas__ver button:hover{
    cursor: pointer;
    background-color: var(--complementary-color);
}
.graficas__herramientas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

.grafica__container {
    /* Ajustes específicos para la sección de la gráfica */
}

.tabla__container {
    /* Ajustes específicos para la sección de la tabla */
    overflow-x: auto;
}

.active{
    width: 0%;
    height: 0;
    opacity: 0;
    overflow: hidden;
}
