@import './vars.css';
.informacion{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.informacion h1{
    font-size: 3em;
    text-transform: uppercase;
}

.informacion__tabla{
    width: 100%;
    height: 60vh;
    overflow: scroll;
    /* background-color: red; */
}
.informacion__tabla-contenido{
    width: 100%;
    height: 100%;
}
.informacion__tabla h2{
    padding-top: 1em;
    text-align: center;
} 
.data {
    width: 100%;
    height: auto;
    border-collapse: collapse;
}
.data th, .data td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  .data th {
    text-align: center;
    padding: 1em;
    background-color: #f2f2f2;
}

.graficas{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.graficas h1{
    padding-top: .5em;
    font-size: 2em;
}
.graficas__ver{
    margin: 0 auto;
    margin: .5em;
    padding-bottom: 3em;
}
.graficas__ver button{
    margin-top: 1em;
    padding: .5em 1em;
    border: none;
    color: #fff;
    border-radius: 20px;
    background-color: var(--principal-color);
}
.graficas__ver button:hover{
    cursor: pointer;
    background-color: var(--complementary-color);
}
.graficaCard{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.799);
}
.graficas__herramientas {
    width: auto;
    height: 25em;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: start;
    margin: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.799);
    border-radius: 20px;
}

.grafica__container{
    width: 60%;
}
.grafica__container img{
    width: 100%;
}
.tabla__container{
    width: 40%;
    padding: 1em;
    margin-right: 1em;
    height: 100%;
    overflow: auto;
}

.active{
    width: 0;
    height: 0;
    display: inline-block;
    position: relative;
    top:-1000px;
    opacity: 0;
    z-index: -1000;
    font-size: 1px;
}

.graficas__resultados{
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}